* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 90vh;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
}
h1 {
    text-align: center;
    font-size: 4rem;
    margin: 50px 0;
}
#counter {
    text-align: center;
    font-size: 6rem;
    margin-bottom: 50px;
}
#increment-btn, #reset-btn {
    text-align: center;
    margin: 0 auto;
    padding: 10px 50px;
}
#reset-btn {
    margin-top: 50px;
}

@media (max-width: 620px) {
    h1 {
        font-size: 2rem;
    }
}